body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
  padding: 54px 40px 24px 40px;
}

.wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  width: 1050px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-content {
  padding: 80px 64px;
}
.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}
.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}
.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 18px 0;
}
.my-describtion {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 525px;
}
.about-me-container {
  margin-bottom: 72px;
}
.project-container {
  margin-bottom: 48px;
}
.project-list {
  list-style: none;
  padding: 0 0 0 16px;
  margin: 0;
}

.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project-item-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;

  color: #005fff;
}

.work-expirience-container {
  margin-bottom: 44px;
}
.work-expirience-place {
  margin-bottom: 16px;
}
.work-expirience-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}
.work-expirience-company {
  color: #6d9bf5;
}
.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 12px 0 8px 0;
}
.work-duties-list {
  margin: 0;
  padding: 0 0 0 16px;
}
.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.sidebar {
  width: 348px;
  background-color: #e0ebfe;
}
.my-photo {
  width: 348px;
}
.container {
  margin: 48px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 10px;
}
.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}
.contacts-github-icon {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
.contacts-item {
  margin: 0;
  padding: 0;
}
.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
.contacts-email,
.contacts-github,
.contacts-linkedin,
.contacts-telegram {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2979ff;
}
.skills-list {
  margin: 0;
  padding: 0 0 0 16px;
}
.skills-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
.education-place {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6d9bf5;
}
.education-specialisation {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
